
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC Crud Example</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            border: 1px solid black;
        }

        th,
        td {
            text-align: left;
            padding: 16px;
            border: 1px solid black;
        }
        .logo{
            width: 30px;
            height: 20px;
        }
        img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>

<img src="logo.png" alt="">

<div class="container" style="margin-left: 40px; margin-bottom: 30px;">
    <h4>Users Table</h4>
    <p>{{.Title}}</p>
    <p>{{.Message}}</p>

</div>



<table style="margin-left: 40px;">
<thead>
    <th>Sno</th>
    <th>Username</th>
    <th>Actions</th>
</thead>
    <tbody>
    {{range .Clients}}
    <tr>
        <td>{{.Id}}</td>
        <td>{{.MobileNumber}}</td>
        <td>
            <a href="">Delete</a>
            <a href="">Edit</a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
</body>
</html>
